#primer-titulo {
           font-family: "Garamond", "Palatino", serif;
           font-size: 60px;
           text-align: center;
           line-height: 10px;
       }

  h2 {
    color: #454A4F;
    font-family: helvetica;
    font-size: 35px;
  }

  p {
       font-family: calibri;
       font-size: 30px;
       line-height: 50px;
   }

  li {
      font-family: calibri;
      font-size: 30px;
    }

  .habitos {
      color: red;
      font-family: "Garamond", "Palatino", serif;
      font-size: 40px;
      line-height: 0px;
      text-align:center;
    }

    .centrarlista {
      text-align: center;
      display: block;
    }

    .tripartita {
       display: inline-block;
       text-align: left;
    }

  #subtitulo {
      font-size: 40px;
      color: #D82C07;
    }

    #prevsubtitulo {
      color: green;
      font-size: 35px;
    }

  #official-info {
        background-color: #D6FADA;
        width: 98%;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 15px 0px 10px 6px;
        border: 0px dashed;
        padding: 6px;
    }

  #primera-img {
        width: 420px;
        margin-right: 30px;
        margin-bottom: 10px;
        border: 1px ridge white;
        float: left;
    }

  #segunda-img {
        width: 550px;
        position: relative;
        left: 250px;
    }

  #tercera-img {
        width: 550px;
        position: relative;
        left: 270px;
    }

  #cuarta-img {
      width: 350px;
      margin-top: 0px;
      margin-left: 30px;
      margin-bottom: 10px;
      float: right;
    }

  #quinta-img {
      width: 400px;
      position: relative;
      left: 250px;
    }

  #sexta-img {
      width: 350px;
      margin-top: 0px;
      margin-left: 30px;
      margin-bottom: 10px;
      float: right;
      padding-right: 10px;
    }

  #septima-img {
      border: 1px ridge yellow;
      width: 300px;
      display:block;
      margin:auto;
      }

  #container {
        width: 1300px;
        margin: 0px auto;
        border: 0px solid rgb(21, 164, 17);
        border-top: 10px solid #15A411;
        padding: 0px;
    }

  #Rutinas {
        background-color: #FFFFFF;
        width: 98%;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 15px 0px 10px 6px;
        border: 0px dashed;
        padding: 6px;
    }

    #pecho {
        width: 300px;
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 30px;
        float: right;
    }

    #bicep {
        width: 250px;
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 30px;
        float: right;
    }

    #tricep {
        width: 330px;
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 30px;
        float: right;
    }

    #espalda {
        width: 330px;
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 30px;
        float: right;
    }

    #abdomen {
        width: 330px;
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 30px;
        float: right;
    }

    #pierna {
        width: 330px;
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 30px;
        float: right;
    }

    #proteina {
        width: 380px;
        margin-top: 0px;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-right: 50px;
        float: right;
    }

    #aguacate {
        width: 380px;
        margin-top: 0px;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-right: 50px;
        float: right;
    }

    #vitamina {
        width: 380px;
        margin-top: 0px;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-right: 50px;
        float: right;
    }

    #cardio {
      width: 320px;
      position: relative;
      margin-left: 500px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

  #alimentación {
        background: rgb(206, 241, 203);
        width: 98%;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 15px 0px 10px 6px;
        border: 0px dashed ;
        padding: 6px;
    }

  #Mención {
        color: #060847;
        text-align: center;
        font-size: 35px;
    }

a {
  color: rgba(21, 67, 96);
}

a:hover {
  background: rgb(174, 214, 241);
}

a:visited {
  color: purple;
}

.link {
  text-align: center;
  margin-left: 300px;
  font-size: 30px;
}

.linkdos {
  font-size: 20px;
}
