
/*GRID*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(224,255,220);
  background: radial-gradient(circle, rgba(224,255,220,1) 0%, rgba(190,216,246,1) 100%);  
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-thumb {
  background: #b3d3b2;
  border-radius: 8px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

#pilates {
  width: 30%;
  float: right;
  margin: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 9px #12203E;
}

#feed {
  width: 40%;
  float: left;
  margin: 0 40px 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 9px #12203E;
}

.fa-house {
  padding: 3px;
  box-shadow: 0 0 6px #000;
}

.container .header {
  width: 95%;
  margin: auto;
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 4px solid #c94c4c ;
}

.container .header h1 {
  font-weight: bold;
  color:  #c94c4c ;
  padding-bottom: 30px;
  font-size: 45px;
  font-family: monospace;
  text-shadow: 5px 5px 10px #ffffff;
}

.container .main article {
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

.container .main article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.container .main article .apartado {
  background: #454A4F;
  color: #ffffff;
  opacity: 0.7;
  border: 1px solid #6a799b;
  border-radius: 5px;
  width: 90%;
  max-height: 252px;
  margin: auto;
  padding: 20px 20px;
  overflow: auto;
  margin-bottom: 30px;
}

.container .main  article .apartado::-webkit-scrollbar {
  width: 9px;
}

.container .main  article .apartado::-webkit-scrollbar-thumb {
  background: #b3d3b2;
  border-radius: 8px;
}

.container .main p, .container .main article li, .container p {
    font-family: calibri;
    font-size: 27px;
    line-height: 40px;
}

.container .main article ul li {
  margin-left: 30px;
}

.container .main article h2, .container h2 {
  width: 20%;
  border: 2px solid white;
  border-radius: 8px;
  background: #6042c6;
  color: #ffffff;
  -webkit-text-stroke: 1px rgb(141, 139, 139);
  font-family: helvetica;
  margin: auto;
  font-size: 30px;
  text-align: center;
  margin-bottom: 70px;
 }

.container .main article h3, .container h3 {
   font-size: 25px;
   font-family: helvetica;
 }

.container .header .navegation {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container .header .navegation a {
  background: #c94c4c ;
  font-size: 25px;
  text-align: center;
  font-family: arial, serif;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  flex-grow:1;
  border: 2px solid white;
}

.header .navegation a:hover {
  background: #6042c6 ;
  opacity: 0.9;
 /* background: #ffffff;
  color: #145313;
  border: 1px solid #145313; */
} 

.container .footer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  color: #ffffff;
  max-height: 70px;
}

.container .main article .apartado h4 {
  text-align: center;
  width: 30%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: 3px solid #b3d3b2;
}

.container .main article i, .container .header i {
  color: #000;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 90%;
}

.container .main article p a, .container .main article p a:visited, .container p a, .container p a:visited {
  text-decoration: none;
  color: #ffffff;
  -webkit-text-stroke: 2px rgb(250, 139, 4);
  border-bottom: 3px solid #12203E;
}

.container .main article p a:hover, .container p a:hover {
  opacity: 0.6;
  /*
  text-decoration: none;
  color: #12203E;
  -webkit-text-stroke: 1px rgb(225, 218, 239);
  border-bottom: 2px solid #93a1be;
*/}

.container .footer .icons {
  border-radius: 8px;
  border: 2px solid #c94c4c;
  padding: 10px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.container .footer .icons i {
  font-size: 60px;
}

.container .footer #facebook-log {
  color:#12203E;
}

.container .footer #instagram-log {
  color:#c638c3;
}

.container .videos {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container iframe {
  width: 80%;
  height: 400px;
}

/*APLICACIÓN DE MEDIAS*/
@media screen and (max-width: 1250px){
  .container .header {
    flex-direction: column;
    margin-bottom: 0;
  }
  .container .header h1, .container .header .navegation {
    width: 100%;
    text-align: center;
  }

  .container .header h1 {
    font-size: 40px;
  }
  .container .header .navegation a {
    font-size: 20px;
  }
  .container .main article p, .container .main article ul li {
    font-size: 22px;
  }
  .container .main article h3 {
    font-size: 20px;
  }
  .container .main article h2 {
    font-size: 25px;
    margin-bottom: 45px;
  }
  .container .main article .apartado {
    width: 92%;
  }
  .container .main article .apartado h4 {
    font-size: 22px;
    width: 30%;
  }
}

@media screen and (min-width: 767px) and (max-width: 123px){
	.container .header {
		flex-direction:colum;
		padding: 0;
	}
	.container .header h1 {
    text-align: center;
		margin: 20px auto;
		width: 100%;
	}
  
	.container .header .navegation {
		width: 100%;
    flex-direction: column;
    gap: 10px;
	}
  .container .header .navegation a {
    width: 200px;
  }
  .container .videos {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {

  #pilates, #feed {
    float: none;
    width: 80%;
    margin: 0 40px;
  }
  
  .container .header {
    border: none;
  }

  .container .main article p, .container .main article ul li {
    font-size: 20px;
  }

  .container .main article h2, .container h2 {
    width: 70%;
  }

  .container .main article h3 {
    font-size: 17px;
  }

  .container .main article .apartado {
    width: 95%;
  }
  .container .videos {
    width: 100%;
  }
  .container iframe {
    width: 90%;
    height: 200px;
  }
}
